;   _                   _     _                         _
;  | | ____ _ _ __ __ _| |__ (_)_ __   ___ _ __ ___  __| |_ __
;  | |/ / _` | '__/ _` | '_ \| | '_ \ / _ \ '__/ _ \/ _` | '_ \
;  |   < (_| | | | (_| | |_) | | | | |  __/ |_|  __/ (_| | | | |
;  |_|\_\__,_|_|  \__,_|_.__/|_|_| |_|\___|_(_)\___|\__,_|_| |_|

; templates section - send hammerspoon a url with an action and a target
; layers is like a vim mode - caps lock acts as a dedicated hyper key so the real command key is unaffected
; main - the layers to respond to, in this case, caps_lock held down triggers the hyper layer

{:main [{:des "f9 to a"
             :rules [[:f9 :a]]}]
}
